<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .up {
            position: fixed;
            width: 170px;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="searchName">
    <table>
        <thead>
        <tr>
            <td>姓名</td>
            <td>性别</td>
            <td>年龄</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in searchStu">
            <td>{{item.name}}</td>
            <td>{{item.sex}}</td>
            <td>{{item.age}}</td>
            <td>
                <button @click="update(index)">修改</button>
                <button @click="del(index)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <p>姓名<input type="text" v-model="addObj.name"></p>
        <p>性别<input type="text" v-model="addObj.sex"></p>
        <p>年龄<input type="text" v-model="addObj.age"></p>
        <button @click="add()">增加</button>
    </div>
    <div v-show="updataDisplay" class="up">
        <p>姓名<input type="text" v-model="upObj.name"></p>
        <p>性别<input type="text" v-model="upObj.sex"></p>
        <p>年龄<input type="text" v-model="upObj.age"></p>
        <button @click="btnUP()">保存</button>
        <button @click="close()">取消</button>
    </div>
</div>
<script src="js/vue.js"></script>
<script>
    var Stu = new Vue({
        el:"#app",
        data:{
            studentArr:[{name:"王二",sex:"女",age:19},{name:"张三",sex:"男",age:20},{name:"李四",sex:"女",age:18},{name:"王五",sex:"男",age:22}],
            searchName:"",
            addObj:{name:"",sex:"",age:""},//增加的数据
            upObj:{name:"",sex:"",age:""},//修改的数据
            upIndex:"",//修改存的下标
            updataDisplay:false//是否显示修改框
        },
        methods:{
            del:function (index) {
                this.studentArr.splice(index,1);
            },
            add:function () {
                if(this.addObj.name && this.addObj.sex && this.addObj.age){
                    this.studentArr.push(this.addObj);
                    this.addObj = {};
                }
            },
            update:function (index) {
                this.updataDisplay = true;
                this.upIndex = index;
                this.upObj.name = this.studentArr[index].name;
                this.upObj.sex = this.studentArr[index].sex;
                this.upObj.age = this.studentArr[index].age;
            },
            //点击修改
            btnUP:function () {
                this.studentArr.splice(this.index,1,this.upObj);
            },
            close:function () {
                this.updataDisplay = false;
                this.upObj = {};
            }
        },
        computed:{
            searchStu:function(){
                var search = this.searchName;
                return this.studentArr.filter(function (item) {
                    return item.name.indexOf(search)>=0;
                })
            }
        }
    });

</script>
</body>
</html>